
div(class='main_div')
    h1 Выберите коллекцию из списка
    ul(class='choose_coll_ul')#choose_coll_ul
    a( href='/') Назад
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='choose_collection.js')