h1 Коллекция
div(class='collection_table_buttons')
    a(href='/collection_table')
        button(class="col_t_but" type="button") Таблица коллекций
    input
div(class='collection_table_buttons')
    a(href='/collection_table')
        button(class="col_t_but" type="button") Таблица коллекций
    input
div(class='collection_table_buttons')
    a(href='/collection_table')
        button(class="col_t_but" type="button") Таблица коллекций
    input
div(class='collection_table_buttons')
    a(href='/collection_table')
        button(class="col_t_but" type="button") Таблица коллекций
    input

a( href='/') Назад
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")