h1 Введите имя директории для экспорта
input(placeholder='Имя директории')#export_input
button#export_apply Подтвердить
a( href='/') Назад
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='export.js')