h1 Все кубы, в которых менее
  = number
a( href='/requests1') Назад
input(value =number.slice(1).split(' ')[0] type='hidden')#data
center
  div(style="font-size: 15; font-family: sans-serif")#main_div
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='first_request.js')
