h1 Введите имя директории для импорта
input(placeholder='Имя директории')#import_input
button#import_apply Подтвердить
a( href='/') Назад
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='import.js')