h1 3D облака точек
div(class='buttons')
    a(href='/collection_table')
        button(class="main_but" type="button") Таблица БД
    a(href='/import')
        button(class="main_but" type='button') Импорт
    a(href='/export')
        button(class="main_but" type='button') Экспорт
    a(href='/choose_collection')
        button(class="main_but" type='button')#collection_choosing Выбрать существующую БД
    a(href='/load_new_collection')
        button(class="main_but" type='button') Загрузить новую БД

link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='script.js')