h1 Введите имя для новой БД
a( href='/') Назад
input#collection-name-input
a( href='/file_name_for_new_collection')
    button#create-new-collection Подтвердить
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='script.js')