h1 Статистика
a( href='/requests1') Назад
input(value = number type='hidden')#data
center
    div(style="font-size: 15; font-family: sans-serif")#main_div
link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
script(src='stats_request.js')